<div class="cardx p-3">
  <div class="fw-bold">Clases</div>
  <div class="sub">Materias inscritas</div>

  <div class="tableCards d-md-none mt-3" id="clasesCards"></div>

  <div class="d-none d-md-block mt-3">
    <div class="table-responsive">
      <table class="table table-dark table-borderless align-middle mb-0" id="tablaClases">
        <thead>
          <tr>
            <th>Materia</th>
            <th>Docente</th>
            <th>Aula</th>
            <th>Recursos</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
