/* Materia / etiqueta */
.materia{
  background-color: #f9fafb !important;
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  padding: 2px 10px;
  color: #374151;
  font-weight: 600;
}

/* Accordion header */
.accordion-button{
  background-color: #ffffff;
  color: #111827;
  font-weight: 600;
  border-bottom: 1px solid #e5e7eb;
}

/* Accordion abierto */
.accordion-button:not(.collapsed){
  background-color: #f9fafb;
  color: #111827;
  box-shadow: none;
}

/* Cuerpo */
.accordion-body{
  background-color: #ffffff;
  color: #374151;
}

/* Flecha */
.accordion-button::after{
  filter: brightness(0.45);
}

.accordion-button:not(.collapsed){
  border-left: 3px solid #111827;
}
